.APcontainer{
    margin: 4rem;
}
.APcontainer a{
    font-size: 1.2rem;
    color: #444459;
    cursor: pointer;
    border-bottom: none;
    width: min-content;
}
a:hover{
    box-shadow: none;
}
.APcontainer img{
    width: 25px;
    height: 25px;
    margin-top: 0.1rem;
}
a:hover img{
    transform: translateX(-10px);
}
h1{
    font-size:2.5rem;
    color: #444452;
}