.Fcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
}
.left{
    width: 12rem;
    color: #444452;
    font-weight: 700;
}
.Fright{
    display: flex;
    gap: 2rem;
}
.Fright p{
    cursor: pointer;
    color: #007bff;
    font-weight: 600;
}

.Fright p:hover{
    border-bottom: 2px solid #007bff;
}